# <center> Preparation of the data, turn all features numerical </center>

## Load data

In [1]:
from pandas import read_csv
import pandas as pd
train_full = read_csv('../HousePrices/seloger-paris-page1-to-200_raw.csv', index_col=0, sep="\t")

## Select only the categorical features

In [2]:
train_full

,type of logement_raw,ville_raw,quartier_raw,room_nb_raw,bedroom_nb_raw,surface_raw,price_raw
id,,,,,,,
0,Maison,Triel sur Seine,Nord et Ouest,8.0,4.0,230.00,630000.0
1,Appartement,Verneuil sur Seine,Clairieres,4.0,2.0,75.49,170000.0
2,Appartement,Meaux,Croix Saint Loup-Saint Nicolas,4.0,3.0,100.18,409500.0
3,Appartement,Carrieres sous Poissy,Apollinaire,2.0,1.0,31.00,129000.0
4,Appartement,NaN,NaN,3.0,2.0,64.00,129000.0
...,...,...,...,...,...,...,...
4993,Appartement,Châtenay-Malabry,Petit Chatenay,3.0,2.0,66.00,297000.0
4994,Appartement,Maisons-Alfort,Charentonneau,NaN,NaN,NaN,445000.0
4995,Appartement,Gagny,Gare de Gagny-Henri Barbusse,NaN,NaN,NaN,390000.0
4996,Appartement,Chevilly Larue,La Guinet,3.0,2.0,62.00,258000.0
4997,Appartement,Puteaux,Bergère-Moulin,4.0,3.0,87.00,695000.0

In [3]:
train_full.dtypes

type of logement_raw     object
ville_raw                object
quartier_raw             object
room_nb_raw             float64
bedroom_nb_raw          float64
surface_raw             float64
price_raw               float64
dtype: object

## Split data

Let's do 80-20%:

In [4]:
from numpy import random
SEED = 42
random.seed(SEED)

In [5]:
from sklearn.model_selection import train_test_split
VAL_SIZE = 0.2
train, val = train_test_split(train_full, test_size=VAL_SIZE)

In [6]:
train_object = train.select_dtypes(include='object')
train_object = train_object.fillna('None')
val_object = val.select_dtypes(include='object')
val_object = val_object.fillna('None')

In [7]:
#pip install category_encoders

In [8]:
import category_encoders as ce
from sklearn.preprocessing import OneHotEncoder
ohe = ce.OneHotEncoder(handle_unknown='ignore', use_cat_names=True)

train_ohe = ohe.fit_transform(train_object)
train_ohe.head()

,type of logement_raw_Maison,type of logement_raw_Appartement,ville_raw_Le Raincy,ville_raw_None,ville_raw_Paris 16ème,ville_raw_Paris 9ème,ville_raw_Le Vésinet,ville_raw_Lagny sur Marne,ville_raw_Levallois-Perret,ville_raw_Saint-Gratien,...,quartier_raw_Les Martraits,quartier_raw_L'Épine Guyon,quartier_raw_Les Trèfles,quartier_raw_Réveil Matin,quartier_raw_Palais Royal,quartier_raw_Thiers,quartier_raw_Notre Dame-Bruyeres,quartier_raw_Les Terres de la Ferme,quartier_raw_Ledru Rollin,quartier_raw_Petit Pantin-Haut Pantin
id,,,,,,,,,,,,,,,,,,,,,
1738,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3986,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2915,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1595,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3213,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
val_ohe = ohe.transform(val_object)
val_ohe.head()

,type of logement_raw_Maison,type of logement_raw_Appartement,ville_raw_Le Raincy,ville_raw_None,ville_raw_Paris 16ème,ville_raw_Paris 9ème,ville_raw_Le Vésinet,ville_raw_Lagny sur Marne,ville_raw_Levallois-Perret,ville_raw_Saint-Gratien,...,quartier_raw_Les Martraits,quartier_raw_L'Épine Guyon,quartier_raw_Les Trèfles,quartier_raw_Réveil Matin,quartier_raw_Palais Royal,quartier_raw_Thiers,quartier_raw_Notre Dame-Bruyeres,quartier_raw_Les Terres de la Ferme,quartier_raw_Ledru Rollin,quartier_raw_Petit Pantin-Haut Pantin
id,,,,,,,,,,,,,,,,,,,,,
84,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2470,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2803,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4986,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4923,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Same treatment for the numerical features

In [10]:
train_number = train.select_dtypes(exclude='object')
train_number = train_number.fillna(0)
val_number = val.select_dtypes(exclude='object')
val_number = val_number.fillna(0)

Concatener the numerical and categorical features into one dataframe trainfull

In [11]:
import pandas as pd
train = pd.concat([train_number, train_ohe], axis=1)
train.head()

,room_nb_raw,bedroom_nb_raw,surface_raw,price_raw,type of logement_raw_Maison,type of logement_raw_Appartement,ville_raw_Le Raincy,ville_raw_None,ville_raw_Paris 16ème,ville_raw_Paris 9ème,...,quartier_raw_Les Martraits,quartier_raw_L'Épine Guyon,quartier_raw_Les Trèfles,quartier_raw_Réveil Matin,quartier_raw_Palais Royal,quartier_raw_Thiers,quartier_raw_Notre Dame-Bruyeres,quartier_raw_Les Terres de la Ferme,quartier_raw_Ledru Rollin,quartier_raw_Petit Pantin-Haut Pantin
id,,,,,,,,,,,,,,,,,,,,,
1738,5.0,3.0,150.00,670000.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3986,3.0,2.0,66.00,229000.0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2915,9.0,7.0,283.17,3790000.0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1595,7.0,5.0,262.00,5990000.0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3213,10.0,6.0,416.00,2500000.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
val = pd.concat([val_number, val_ohe], axis=1)
val.head()

,room_nb_raw,bedroom_nb_raw,surface_raw,price_raw,type of logement_raw_Maison,type of logement_raw_Appartement,ville_raw_Le Raincy,ville_raw_None,ville_raw_Paris 16ème,ville_raw_Paris 9ème,...,quartier_raw_Les Martraits,quartier_raw_L'Épine Guyon,quartier_raw_Les Trèfles,quartier_raw_Réveil Matin,quartier_raw_Palais Royal,quartier_raw_Thiers,quartier_raw_Notre Dame-Bruyeres,quartier_raw_Les Terres de la Ferme,quartier_raw_Ledru Rollin,quartier_raw_Petit Pantin-Haut Pantin
id,,,,,,,,,,,,,,,,,,,,,
84,3.0,2.0,73.00,670000.0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2470,4.0,2.0,77.01,774500.0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2803,3.0,2.0,72.00,515000.0,0,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4986,2.0,1.0,41.00,415000.0,0,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4923,3.0,0.0,60.50,322000.0,0,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
print("Train shape: " + str(train.shape))
print("Val shape: " + str(val.shape))

Train shape: (3998, 1371)
Val shape: (1000, 1371)

## Save data

In [14]:
train.to_csv("train_ohe_AZ.csv")
val.to_csv("val_ohe_AZ.csv")